aiohttp
datetime
supabase
together
sumy
jieba
python-dotenv
pandas
numpy
python-dateutil
google-generative-ai==0.3.2
langchain
langchain-google-genai
langchain-community
sentence-transformers
scikit-learn
streamlit
ipython
nest-asyncio
PyMuPDF
